body {
    background-color: rgb(4, 0, 255);
display: flex;
justify-content: center;
align-items: center;
height: 80vh;
}


.part1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;

}
.part2 {
    display: flex;
    gap: 50px;    
}
.wordch {
    margin-left: 140px;
    font-size: 50px;

}
.inpu {
    height: 24px;
    width: 267px;
    
}
.wordai {
 font-size:30px;
 margin-left: 50px;
 margin-top: 20px;
}
.CONVERT {
border: none;
height: 38px;
width: 180px;
color: aqua;
background-color: rgba(0, 0, 255, 0.685);
box-shadow: 2px 2px 30px aqua ;
border-radius: 3px;

}
.RESET {
border: none;
height: 38px;
width: 180px;
color: aqua;
background-color: rgba(0, 0, 255, 0.685);
box-shadow: 2px 2px 30px aqua ;
border-radius: 3px;


}    
.CHANGE {
    
border: none;
color: aqua;
height: 38px;
width: 180px;
background-color: rgba(0, 0, 255, 0.685);
box-shadow: 2px 2px 30px aqua ;
border-radius: 3px;


    
}

.CONVERT:hover {
    background-color: red;
}
.RESET:hover {
    background-color: red;
}
.CHANGE:hover {
    background-color: red;
}

